h1{
  color: rgb(252, 210, 46);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;

}

img{
    width: 50%;
    border: black solid 5px;
}

#kep{
  text-align: center;
}

#gombdiv{
  padding-top: 1%;
  text-align: center;
}
#gomb{
  color: rgb(252, 210, 46);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 25%;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  background-color: black;
  border-radius: 10px;
  
  

  
}